
<div class="panel" style="background-color: #3c3c3c">
    <div class="panel-body">
        <div class="btn-group-vertical">
            <a href="@Url.Action("Index","Home")"><input type="button" value="Manage Animals" style="width:100%;" /></a>
            <a href="@Url.Action("Index","PickListAdmin")"><input type="button" value="Manage Codes" style="width:100%;" /></a>
            <a href="@Url.Action("","")"><input type="button"value="Donation Manager" style="width:100%;" /></a>
        </div>
    </div>
</div>
