@model WherePigsFlyFms.Models.Animals

<div class="panel panel-default">
    <div class="panel-heading col-md-2">
        <div class="col-md-1"><h4 style="text-align:center;">@Html.DisplayFor(model => model.Name)</h4></div>
        <div class="col-md-1">@Html.DisplayFor(model => model.TagNumber)</div>
    </div>
    <div class="panel-body">
        <div class="row">
            
        </div>
    </div>
</div>